/* Universal Styles */

html {
    background-color: #1d1d1d;
    font-size: 20px;
    font-family: 'MS Gothic';
    font-weight: 600;
}

body {
    margin: 5px;
}

/* Header */

header {
    width: 100%;
}

.main {
    width: 100%;
}

.container-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    height: 102px;
    width: 100%;
    min-width: 480px;
    max-width: 100%;
}

.nav-main {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: start;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    background-color: #4391be;
    border-right: 2px solid blue;
    border: 2px solid blue;
}

.nav-main a {
    text-align: center;
    color: black;
    padding: 1em;
}

.header-filler {
    background-color: #03355b;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.page-title {
    grid-column: 3 / 4;
    height: 100%;
    width: 100%;
    border-left: 2px solid blue;
    background-color: #4391be;
    text-align: center;
    justify-self: end;
    color: black;
    border: 2px solid blue;
}

/* Body */

.container-main {
    margin-top: 20px; 
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    align-items: stretch;
    justify-items: center;
    position: center;
    gap: 20px;
    min-height: 40em;
    width: 100%;
}

.sidebar {
    background-color: #03355b;
    color: floralwhite;
    border: 2px solid blue;
    width: 100%;
    height: 100%;
    justify-self: start;
    text-align: center;
}

.sidebar h3 {
    border-bottom: 2px solid blue;
    padding: 18px 0px;
    margin: 0px;
}

.sidebar ul button {
    text-align: left;
    list-style: none;
    margin: 0px;
}

.sidebar button {
    width: 80px;
    text-align: left;
}

.sidebar button:hover {
    background-color: #4391be;
    border-radius: 3px 4px;
}

#main-body-description {
    background-color: #03355b;
    color: floralwhite;
    border: 2px solid blue;
    width: 100%;
    height: 100%;
    justify-self: end;
    min-width: 534px;
    max-width: 100%;
}

#main-body-description p {
    font-size: 0.75em;
    margin: 1em;
}

#main-body-description h2 {
    margin: 0.5em 0.4em;
}

#main-body-showcase {
    background-color: #03355b;
    color: floralwhite;
    border: 2px solid blue;
    width: 100%;
    height: 100%;
    justify-self: end;
    min-width: 534px;
    max-width: 100%;
}

@media only screen and (max-width: 1227px) {
    html {
        font-size: 15px;
    }

    .container-main {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }

    .sidebar {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        min-width: 96px;
    }

    #main-body-description {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #main-body-showcase {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        overflow: hidden;
    }

    #main-body-description, #main-body-showcase {
        min-width: 356px;
        max-width: 100%;
        min-height: 50%;
    }
}